<%= form_for @post, class: "form-control" do |f| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <%= js add_gritter(msg, title: "Overtime App Notification", sticky: false) %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :date, class: "control-label" %>
    <%= f.date_field :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :rationale, class: "form-label" %>
    <%= f.text_area :rationale, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :overtime_request, class: "form-label" %>
    <%= f.number_field :overtime_request, in: 0.0..20.0, step: 0.1, class: "form-control" %>
  </div>

  <%= render partial: 'status', locals: {f: f} if User.admin?(current_user) %>

  <%= f.submit 'Save', class: "btn btn-block btn-primary" %>
<% end %>
