<tr>
  <td><%= post.id %></td>
  <td><%= post.date %></td>
  <td><%= post.user.full_name %></td>
  <td><%= truncate(post.rationale) %></td>
  <td>
    <%= status_label post.status %>
  </td>
  <td>
    <% if post.submitted? %>
      <%= link_to 'Edit', edit_post_path(post), id: "edit_#{post.id}" %>
    <% end %>
  </td>
  <td>
    <% if post.submitted? %>
      <%= link_to 'Delete', post_path(post), id: "delete_post_#{post.id}_from_index", method: :delete %>
    <% end %>
  </td>
</tr>
