<h1>New Post</h1>
<%= form_for @post, class: "form-control" do |f| %>
<div class="form-group">
  <%= f.label :date, class: "control-label" %>
  <%= f.date_field :date, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :rationale, class: "form-label" %>
  <%= f.text_area :rationale, class: "form-control" %>
</div>
  <%= f.submit 'Save', class: "btn btn-block btn-primary" %>
<% end %>
